body{
    
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url("../public/assets/background/bground.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

hr,h1,h2,h3,h4,h5,label, .char{
    color: white;
    margin-bottom: 15px;
}

.navitem{
    transition: all 0.5s;
}

.navitem:focus{
    color: red;
}

.navitem:hover{
    color: red;
}

.fragmentos{
    width: 300px;
}